* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.navigation {
    height: 96vh;
    width: 100%;
    text-align: right;
    background-image: url(Resources/background.jpg);
    background-size: cover;
    background-position: center;
}

.nav {
    position: sticky;
    padding-top: 2%;
    padding-right: 2%;
}

.logo {
    padding-top: 1.5%;
    padding-left: 4%;
    float: left;
    height: 5vh;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.17em;
    text-align: right;
    justify-content: right;
    padding: 3px 3px;
}

nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2.3px;
    left: 50%;
    background: #7efdb5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    cursor: pointer;
}

span {
    color: #60e097
}

.content {
    position: absolute;
    top: 40%;
    left: 8%;
    text-align: left;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 10px;
    font-size: 70px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

h4 {
    color: #81bf99;
    letter-spacing: 2px;
    font-size: 20px;
}

.about {
    width: 100%;
    height: 96vh;
    padding: 10vh 0px;
    background-color: #191919;
}

.about img {
    transition: ease-out 200ms;
}

.about img:hover {
    transform: scale(1.05);
    transition: 300ms ease-in;
}

.about-text {
    width: 40vw;
    margin-left: 3vw;
    text-align: justify;
}

.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.about-text h2 {
    color: white;
    font-size: 8vh;
    margin-bottom: 8vh;
}

.about-text h6 {
    color: #54d28b;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
}

.about-text p {
    color: rgba(236, 224, 236, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 3vw;
}

.cv {
    position: absolute;
    border: 2px solid #64fca6;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 900;
    padding: 12px 40px;
    border-radius: 5px;
    transition: .6s;
}

.cv:hover {
    color: #101010;
    background-color: #64fca6;
    cursor: pointer;
    font-size: 16px;
}

.education {
    background: #101010;
    height: 80vh;
    width: 100%;
    padding: 10vh;
    align-items: center;
}

.edu-title h2 {
    color: white;
    font-size: 8vh;
    text-align: center;
}

.edu-box {
    display: flex;
    justify-content: space-evenly;

}

.edu-card {
    height: 45vh;
    width: 45vh;
    font-size: 20px;
    background: #191919;
    border-radius: 3vh;
    margin: 4vh;
    justify-content: center;
    align-items: center;
    transition: 150ms ease-out;
}

.edu-card h4 {
    text-align: center;
    font-size: 4vh;
    color: whitesmoke;
    padding: 4vh;
}

.edu-card p {
    color: whitesmoke;
    padding: 4vh;
    font-size: 2.5vh;
    font-family: Cambria;
    letter-spacing: 0.10em;
    line-height: 25px;
    transition: 150ms ease-out;
}

.edu-card:hover {
    cursor: pointer;
    border: 0.5px solid #64fca6;
    transition: 200mss ease-in;
}

.featured {
    background: #191919;
    width: 100%;
    height: 202vh;
    padding: 8vh;
    align-items: center;
    justify-content: space-around;
}

.featured h2 {
    color: white;
    font-size: 10vh;
    text-align: center;
}

.featured p {
    font-size: 18px;
    font-family: Cambria;
    color: whitesmoke;
    padding: 5vh;
    line-height: 4vh;
    letter-spacing: 0.01em;
}

.featured table {
    margin: auto;
    width: 65vw;
    padding: 5vh;
}

.featured a {
    float: right;
    margin-right: 5vh;
    text-align: right;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #64fca6;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 900;
    padding: 8px 20px;
    border-radius: 5px;
    transition: .6s;
}

.featured a:hover {
    color: #101010;
    background-color: #64fca6;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 16px;
}

.card {
    display: flex;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5vh;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    background-color: rgba(16, 16, 16, 0.91);
    cursor: pointer;
    border: 0.5px solid #64fca6;
    transform: scale(1.02);
}

.card img {
    border-radius: 3%;
}

.card iframe {
    border-radius: 6%;
}

.contact {
    width: 100%;
    height: 35vh;
    background: #101010;
    align-items: center;
}

.contact h6 {
    font-size: 8vh;
    color: whitesmoke;
    padding-top: 5vh;
    text-align: center;
}

.contact p {
    text-align: center;
    color: whitesmoke;
    padding-top: 1vh;
    font-size: 2.5vh;
    font-family: Cambria;
    letter-spacing: 0.10em;
}

.contact a {
    text-decoration: none;
    color: whitesmoke;
}

.conbox {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.concard {
    display: flex;
    height: 7vh;
    width: 7vh;
    font-size: 20px;
    background: #191919;
    border-radius: 3.5vh;
    margin: 4vh;
    justify-content: center;
    align-items: center;
    transition: 150ms ease-out;
}

.concard:hover {
    cursor: pointer;
    border: 0.5px solid #64fca6;
    transform: scale(1.1);
    transition: 200mss ease-in;
}
