* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo img {
    margin-top: 1.3vw;
    margin-left: 3vw;
    width: 3vw;
    height: auto;
    box-shadow: 0 0 5px #5bfea239;
}

nav {
    display: flex;
    position: absolute;
    margin: 0 auto;
    margin-top: 1.3vw;
    width: 97%;
    align-items: center;
    justify-content: space-between;
    box-shadow: #60e097;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1.5vw;
}

nav ul li a {
    color: whitesmoke;
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    transition: 0.3s;
}

nav ul li a:hover {
    cursor: pointer;
    color: #64fca6;
    border-radius: 2px;
    padding-bottom: 4%;
    border-bottom: 2px solid #64fca6;
    transition: 0.3s;
}


.cover {
    display: flex;
    height: 97vh;
    align-items: center;
    justify-content: center;
    color: white;
    /* do not use quotes in the url path */
    background-image: url(Resources/background.jpg);
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 767px) {
    .cover {
        height: 0;
        /* 16:9 aspect ratio */
        padding-bottom: 56.25%;
    }
}

.cover-content {
    position: absolute;
    top: 25vw;
    left: 9%;
    text-align: left;
    transform: translateY(-50%);
}

.cover-content h1 {
    color: white;
    font-size: 5vw;
    white-space: nowrap;
    animation: typing 2.5s forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.cover-content h3 {
    color: white;
    font-size: 1.8vw;
    font-weight: 500;
    margin: 1vw 0;
}

span {
    color: #60e097
}


/* About section start */
.about {
    height: fit-content;
    padding: 4% 0;
    align-content: center;
    background-color: #191919;
}

.about-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.about img {
    height: 35vw;
    width: auto;
    border: 2px solid #60e097;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.about img:hover {
    box-shadow: 0 0 10px #60e09760;
    transform: scale(1.01);
}

.about-text {
    height: 35vw;
    margin-left: 7vw;
    text-align: justify;
    align-content: space-evenly;
}

.about-text h2 {
    color: white;
    font-size: 3vw;
    margin-bottom: 3vw;
}

.about-text h6 {
    color: #54d28b;
    letter-spacing: 2px;
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.about-text p {
    color: rgba(236, 224, 236);
    letter-spacing: 1px;
    line-height: 2vw;
    font-size: 1.2vw;
    margin-bottom: 2vw;
}

.cv {
    position: absolute;
    border: 1.5px solid #64fca6;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.06vw;
    font-weight: bold;
    padding: 0.5vw 1.2vw;
    border-radius: 0.5vw;
    transition: 0.6s;
}

.cv:hover {
    cursor: pointer;
    color: #101010;
    background-color: #64fca6;
    border: 1.5px solid transparent;
}

/* project section :start */
.project {
    display: flex;
    flex-direction: column;
    background: #101010;
    height: fit-content;
    margin: 0 auto;
    padding: 4vw;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.project h2 {
    color: white;
    font-size: 4vw;
    text-align: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 37vw;
    width: 37%;
    padding: 1vw 1vw;
    margin: 6% 5% auto;
    align-content: space-evenly;
    text-align: center;
    background-color: #191919;
    color: white;
    border: 1px solid #64fca650;
    box-shadow: 0 0 8px #64fca640;
    border-radius: 0.7vw;
    transition: ease-in-out 0.3s;
}

.project-card:hover {
    background-color: #101010;
    border: 1.2px solid #64fca6;
    box-shadow: 0 0 10px #f5f5f590;
}

.card-img {
    height: 40%;
}

.card-img img {
    border-radius: 0.5vw;
    width: 100%;
    height: auto;
}

.project-details {
    height: 100%;
    padding-top: 1vw;
}

.project-details h4 {
    padding-bottom: 1.5vw;
    font-weight: bold;
    font-size: 2vw;
}

.project-details p {
    font-size: 1.2vw;
    line-height: 1.5vw;
    font-weight: 350;
    text-align: justify;
    overflow: auto;
}

.project-details a {
    float: right;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 800;
    border: 1.5px solid transparent;
    margin-top: 1vw;
    margin-left: 1vw;
    padding: 0.5vw 1.2vw;
    border-radius: 0.5vw;
    transition: .6s;
    color: #101010;
    background-color: #64fca6;
}

.project-details a:hover {
    cursor: pointer;
    border: 1.5px solid #64fca6;
    font-weight: 800;
    color: whitesmoke;
    background-color: transparent;
}

.showall-btn {
    font-size: 1.2vw;
    font-weight: 800;
    border: 1.5px solid transparent;
    margin-top: 3vw;
    padding: 0.6vw 1.5vw;
    border-radius: 0.5vw;
    transition: .6s;
    color: #101010;
    background-color: #64fca6;
}

.showall-btn:hover {
    cursor: pointer;
    border: 1.5px solid #64fca6;
    font-weight: 800;
    color: whitesmoke;
    background-color: transparent;
}

/* Education section start */
.education {
    height: fit-content;
    background: #191919;
    padding: 4vw;
    align-items: center;
}

.edu-title {
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 2vw;
}

.edu-box {
    display: flex;
    justify-content: space-evenly;
}

.edu-card {
    min-height: 25vw;
    width: 25vw;
    height: fit-content;
    font-size: 1.2vw;
    background: #101010;
    padding: 0 1vw;
    margin: 3vw;
    justify-content: center;
    align-items: center;
    border: 1.5px solid whitesmoke;
    border-radius: 1vw;
    transition: 0.3s;
}

.edu-card:hover {
    cursor: pointer;
    border: 1.5px solid #64fca6;
    box-shadow: 0 0 7px #64fca680;
    background: #080808;
    transform: scale(1.03);
}

.edu-card h4 {
    text-align: center;
    font-size: 2vw;
    color: whitesmoke;
    padding: 2vw;
}

.edu-card p {
    padding: 1vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    color: whitesmoke;
}


/* featured section start */
.featured {
    background: #101010;
    height: fit-content;
    padding: 4vw;
    justify-content: space-around;
}

.featured table {
    margin: 0 auto;
    width: 70%;
}

.card {
    display: flex;
    height: 25vw;
    padding: 1vw;
    margin: 5% 0 auto;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 10px;
    background: #191919;
    transition: 0.3s;
}

.card:hover {
    cursor: pointer;
    border: 2px solid #64fca6;
    box-shadow: 0 0 7px #64fca680;
    transform: scale(1.02);
}

.card img {
    border-radius: 10px;
}

.card iframe {
    border-radius: 10px;
}

.card td {
    height: fit-content;
}

.featured h2 {
    color: white;
    font-size: 4vw;
    text-align: center;
}

.featured p {
    height: fit-content;
    font-size: 1.15vw;
    color: whitesmoke;
    text-align: justify;
    padding: 3vw;
    line-height: 2vw;
}

.featured a {
    float: right;
    margin-right: 2vw;
    text-decoration: none;
    border: 1.5px solid #64fca6;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 10px;
    transition: .6s;
}

.featured a:hover {
    color: #101010;
    background-color: #64fca6;
    cursor: pointer;
}

/* Contact section start */
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background: #191919;
    background: #101010;
    align-items: center;
    margin: 0 auto;
    padding: 4vw;
    align-items: center;
    justify-content: center;
}

.contact h6 {
    text-align: center;
    color: white;
    font-size: 4vw;
    text-align: center;
}

.contact p {
    text-align: center;
    color: whitesmoke;
    padding-top: 1vw;
    margin-bottom: 2vw;
    font-size: 1.3vw;
    font-family: Cambria;
    letter-spacing: 0.10em;
}

.contact a {
    text-decoration: none;
    color: whitesmoke;
}

.last-row {
    display: flex;
    flex-direction: row;
}

.conbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.concard {
    display: flex;
    height: 3vw;
    width: 3vw;
    font-size: 1.2vw;
    background-color: #101010;
    border: 1px solid #64fca6;
    box-shadow: 0 0 5px #64fca670;
    border-radius: 3.5vh;
    margin: 0 2vw;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.concard:hover {
    cursor: pointer;
    border: 1.2px solid #64fca6;
    box-shadow: 0 0 8px #f5f5f590;
    transform: scale(1.1);
    /* transition: ease-in-out 0.1s; */
}

.toTop {
    position: absolute;
    right: 5%;
    margin-left: 10vw;
    display: flex;
    height: 4vw;
    width: 3.5vw;
    font-size: 3vw;
    /* background: black; */
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 10px #60e097;
    transition: 0.3s;
}

.toTop:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #f5f5f590;
    transform: scale(1.1);
    transition: 0.3s;
}